<div class="flex flex-col container mx-auto py-4 items-start bg-gray-800 rounded-t-xl">
	<div class="grid grid-cols-4 divide-x divide-gray-900">
		<div class="col-span-full md:col-span-1 px-4 py-2 shadow-inset-r-white-05">
			<h2 class="font-bold text-gray-500 text-xl font-heading leading-normal mb-2">
				Newest Members
			</h2>
			<ul class="flex flex-wrap gap-x-3 gap-y-2 mb-3">
				<li class="w-10 flex-shrink-0 overflow-hidden">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHsquvb3ajv2NNgSGnDA6GqWwP_6NIZg2Qg&usqp=CAU" class="object-cover h-10 w-10 rounded bg-white inner-shadow" alt="avatar"/>
					<small class="block">username</small>
				</li>
			</ul>
			<div class="leading-none">
				<a href="#" class="text-pink-500 font-bold text-xs">Become an rdramanaut</a>
			</div>
			<div class="leading-none mt-1">
				<a href="#" class="text-gray-500 font-bold text-xs">or log in</a>
			</div>
		</div>
		<div class="col-span-full md:col-span-1 px-4 py-2 shadow-inset-r-white-05">
			<h2 class="font-bold text-gray-500 text-xl font-heading leading-normal mb-2">
				Quotes of the Week
			</h2>
		</div>
		<div class="col-span-full md:col-span-1 px-4 py-2 shadow-inset-r-white-05">
		</div>
		<div class="col-span-full md:col-span-1 px-4 py-2 shadow-inset-r-white-05">
			<h2 class="font-bold text-gray-500 text-xl font-heading leading-normal mb-2">
				rdrama
			</h2>
			<p class="mt-1 text-xs text-gray-500">
				Anyway that's all, thanks again for coming. If you don't like something, that's fine - tell us what you don't like and why you don't like it. If you have a suggestion to make it likeable, definitely include that too. "It's shit" is fine and good feedback, but it's not useful feedback. We'd like it to not be shit though, so telling us why it's shit is beneficial to everyone.
			</p>
		</div>
	</div>
	<div class="mt-4 w-full">
		<ul class="mx-auto max-w-2xl flex flex-col md:flex-row md:items-center md:justify-center md:space-x-3 md:divide-x md:divide-gray-700 text-xs font-medium leading-none">
			<li>
				<a href="#" class="text-gray-500 hover:text-gray-400">
					About
				</a>
			</li>
			<li class="mt-2 md:mt-0 md:pl-3">
				<a href="#" class="text-gray-500 hover:text-gray-400">
					Contact
				</a>
			</li>
			<li class="mt-2 md:mt-0 md:pl-3">
				<a href="#" class="text-gray-500 hover:text-gray-400">
					Welcome Guide
				</a>
			</li>
			<li class="mt-2 md:mt-0 md:pl-3">
				<a href="#" class="text-gray-500 hover:text-gray-400">
					Terms
				</a>
			</li>
			<li class="mt-2 md:mt-0 md:pl-3">
				<a href="#" class="text-gray-500 hover:text-gray-400">
					Privacy
				</a>
			</li>
			<li class="mt-2 md:mt-0 md:pl-3">
				<a href="#" class="text-gray-500 hover:text-gray-400">
					Community Etiquette
				</a>
			</li>
		</ul>
	</div>
	<div class="w-full mt-4 px-4 text-sm text-gray-600">
		<div class="flex flex-col md:flex-row justify-between pt-4 shadow-inset-t-white-05 border-t border-gray-900 leading-none">
			<small>©2021 Copyright rdrama.net</small>
			<small class="hidden md:block">Deus, rex, et bussy</small>
		</div>
	</div>
</div>