{% extends "default.html" %}

{% block pagetitle %}Leaderboard{% endblock %}

{% block content %}
<div class="col-span-full">
	<h1 class="text-4xl font-heading font-bold">Top 25 by {{'COINS_NAME' | app_config}}</h1>
	<div class="flex flex-col border border-gray-900 rounded-md">
		{% for user in users1 %}
		<div class="flex items-center border-b border-gray-900 odd:bg-gray-700 px-6 py-4 {% if v.username == user.username %}text-pink-900 bg-pink-500{% elif users1.index(user) % 2 != 0 %}bg-gray-700 bg-opacity-20{% endif %}">
			<!-- Rank -->
			<h2 class="text-3xl text-gray-600 font-bold font-heading text-center w-20 -ml-6">{{users1.index(user)+1}}</h2>
			<div class="relative">
				<img src="{{user.profile_url}}" class="p-1 rounded border w-16 h-16 object-cover shadow-md {{ 'bg-pink-800 border-pink-900' if v.username == user.username else 'bg-white border-gray-900' }}" alt="{{ user.username }} avatar"/>
				{% if users1.index(user)+1 == 1 %}
				<img src="https://i.ibb.co/xFgG6yf/Coinfixed.gif" width="20px" height="12px" class="absolute -top-1 -right-2.5 object-contain"/>
				{% endif %}
			</div>
			<!-- User Details -->
			<div class="ml-3">
				<a class="block font-heading font-bold text-xl" href="/@{{user.username}}">
					{{user.username}}
				</a>
				{% if user.customtitle %}
				<p class="text-sm" style="#{{user.namecolor}}">
					{{user.customtitle | safe}}
				</p>
				{% endif %}
			</div>
			<div class="ml-auto mr-4">
				<span class="text-2xl font-heading {{ 'text-pink-900' if v.username == user.username else 'text-gray-300' }}">
					{{user.coins}}
				</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- <pre>


</pre>
<h5 style="font-weight:bold;text-align: center;">Top 20 by coins spent in shop</h5>
<pre>


</pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold; text-align:right;">Coins</th>
	</tr>
</thead>

{% for user in users7 %}
	<tr>
		<td style="font-weight:bold;">{{users7.index(user)+1}}</td>
		<td><a style="color:#{{user.namecolor}};  font-weight:bold; fonts" href="/@{{user.username}}"><img loading="lazy" src="/uid/{{user.id}}/pic" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span></a></td>
		<td style="font-weight:bold; text-align:right;">{{user.coins_spent}}</td>
	</tr>
{% endfor %}
</table> -->

<div class="col-span-full">
	<h1 class="text-4xl font-heading font-bold">Top 20 by Coins Spent in Shop</h1>
	<div class="flex flex-col border border-gray-900 rounded-md">
		{% for user in users1 %}
		<div class="flex items-center border-b border-gray-900 odd:bg-gray-700 px-6 py-4">
			<!-- Rank -->
			<h2 class="text-3xl text-gray-600 font-bold font-heading text-center w-20 -ml-6">{{users1.index(user)+1}}</h2>
			<div class="relative">
				<img src="{{user.profile_url}}" class="p-1 rounded bg-white border border-gray-900 w-16 h-16 object-cover shadow-md" alt="{{ user.username }} avatar"/>
				{% if users1.index(user)+1 == 1 %}
				<img src="https://i.ibb.co/xFgG6yf/Coinfixed.gif" width="20px" height="12px" class="absolute -top-1 -right-2.5 object-contain"/>
				{% endif %}
			</div>
			<!-- User Details -->
			<div class="ml-3">
				<a class="block font-heading font-bold text-xl" href="/@{{user.username}}">
					{{user.username}}
				</a>
				{% if user.customtitle %}
				<p class="text-sm" style="#{{user.namecolor}}">
					{{user.customtitle | safe}}
				</p>
				{% endif %}
			</div>
			<div class="ml-auto mr-4">
				<span class="text-2xl text-gray-300 font-heading">{{user.coins_spent}}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<!-- <pre>


</pre>
<h5 style="font-weight:bold;text-align: center;">Top 15 by followers</h5>
<pre>


</pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold; text-align:right;">Followers</th>
	</tr>
</thead>
{% for user in users2 %}
	<tr>
		<td style="font-weight:bold;">{{users2.index(user)+1}}</td>
		<td><a style="color:#{{user.namecolor}};  font-weight:bold;" href="/@{{user.username}}"><img loading="lazy" src="/uid/{{user.id}}/pic" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span></a></td>
		<td style="font-weight:bold; text-align:right;">{{user.stored_subscriber_count}}</td>
	</tr>
{% endfor %}
</table>
<pre>


</pre> -->

<div class="col-span-full">
	<h1 class="text-4xl font-heading font-bold">Top 10 by Followers</h1>
	<div class="flex flex-col border border-gray-900 rounded-md">
		{% for user in users2 %}
		<div class="flex items-center border-b border-gray-900 odd:bg-gray-700 px-6 py-4">
			<!-- Rank -->
			<h2 class="text-3xl text-gray-600 font-bold font-heading text-center w-20 -ml-6">{{users2.index(user)+1}}</h2>
			<div class="relative">
				<img src="{{user.profile_url}}" class="p-1 rounded bg-white border border-gray-900 w-16 h-16 object-cover shadow-md" alt="{{ user.username }} avatar"/>
				{% if users2.index(user)+1 == 1 %}
				<img src="https://i.ibb.co/xFgG6yf/Coinfixed.gif" width="20px" height="12px" class="absolute -top-1 -right-2.5 object-contain"/>
				{% endif %}
			</div>
			<!-- User Details -->
			<div class="ml-3">
				<a class="block font-heading font-bold text-xl" href="/@{{user.username}}">
					{{user.username}}
				</a>
				{% if user.customtitle %}
				<p class="text-sm" style="#{{user.namecolor}}">
					{{user.customtitle | safe}}
				</p>
				{% endif %}
			</div>
			<div class="ml-auto mr-4">
				<span class="text-2xl text-gray-300 font-heading">{{user.stored_subscriber_count}}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="col-span-full">
	<h1 class="text-4xl font-heading font-bold">Top 10 by Post Count</h1>
	<div class="flex flex-col border border-gray-900 rounded-md">
		{% for user in users3 %}
		<div class="flex items-center border-b border-gray-900 odd:bg-gray-700 px-6 py-4">
			<!-- Rank -->
			<h2 class="text-3xl text-gray-600 font-bold font-heading text-center w-20 -ml-6">{{users3.index(user)+1}}</h2>
			<div class="relative">
				<img src="{{user.profile_url}}" class="p-1 rounded bg-white border border-gray-900 w-16 h-16 object-cover shadow-md" alt="{{ user.username }} avatar"/>
				{% if users3.index(user)+1 == 1 %}
				<img src="https://i.ibb.co/xFgG6yf/Coinfixed.gif" width="20px" height="12px" class="absolute -top-1 -right-2.5 object-contain"/>
				{% endif %}
			</div>
			<!-- User Details -->
			<div class="ml-3">
				<a class="block font-heading font-bold text-xl" href="/@{{user.username}}">
					{{user.username}}
				</a>
				{% if user.customtitle %}
				<p class="text-sm" style="#{{user.namecolor}}">
					{{user.customtitle | safe}}
				</p>
				{% endif %}
			</div>
			<div class="ml-auto mr-4">
				<span class="text-2xl text-gray-300 font-heading">{{user.post_count}}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>



<h5 style="font-weight:bold;text-align: center;">Top 10 by post count</h5>
<pre>


</pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold; text-align:right;">Posts</th>
	</tr>
</thead>
{% for user in users3 %}
	<tr>
		<td style="font-weight:bold;">{{users3.index(user)+1}}</td>
		<td><a style="color:#{{user.namecolor}};  font-weight:bold;" href="/@{{user.username}}"><img loading="lazy" src="/uid/{{user.id}}/pic" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span></a></td>
		<td style="font-weight:bold; text-align:right;">{{user.post_count}}</td>
	</tr>
{% endfor %}
</table>
<pre>


</pre>
<h5 style="font-weight:bold;text-align: center;">Top 10 by comment count</h5>
<pre>


</pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold; text-align:right;">Comments</th>
	</tr>
</thead>
{% for user in users4 %}
	<tr>
		<td style="font-weight:bold;">{{users4.index(user)+1}}</td>
		<td><a style="color:#{{user.namecolor}};  font-weight:bold; fonts" href="/@{{user.username}}"><img loading="lazy" src="/uid/{{user.id}}/pic" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span></a></td>
		<td style="font-weight:bold; text-align:right;">{{user.comment_count}}</td>
	</tr>
{% endfor %}
</table>


<pre>


</pre>
<h5 style="font-weight:bold;text-align: center;">Top 10 by received awards</h5>
<pre>


</pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold; text-align:right;">Awards</th>
	</tr>
</thead>
{% for user in users5 %}
	<tr>
		<td style="font-weight:bold;">{{users5.index(user)+1}}</td>
		<td><a style="color:#{{user.namecolor}};  font-weight:bold; fonts" href="/@{{user.username}}"><img loading="lazy" src="/uid/{{user.id}}/pic" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span></a></td>
		<td style="font-weight:bold; text-align:right;">{{user.received_award_count}}</td>
	</tr>
{% endfor %}
</table>


{% if "pcm" in request.host %}
	<pre>


	</pre>
	<h5 style="font-weight:bold;text-align: center;">Top 10 by based count</h5>
	<pre>


	</pre>
	<table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th style="font-weight:bold;">#</th>
			<th style="font-weight:bold;">Name</th>
			<th style="font-weight:bold; text-align:right;">Based count</th>
		</tr>
	</thead>
	{% for user in users6 %}
		<tr>
			<td style="font-weight:bold;">{{users6.index(user)+1}}</td>
			<td><a style="color:#{{user.namecolor}};  font-weight:bold; fonts" href="/@{{user.username}}"><img loading="lazy" src="/uid/{{user.id}}/pic" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span></a></td>
			<td style="font-weight:bold; text-align:right;">{{user.basedcount}}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}