{% extends "settings.html" %}

{% block pagetitle %}Custom CSS - {{'SITE_NAME' | app_config}}{% endblock %}

{% block content %}

<h2 class="h5" name="referral">Theme</h2>

			<div class="settings-section rounded">

					<div class="d-lg-flex border-bottom">

						<div class="title w-lg-25">
							<label for="cardview">Card View</label>
						</div>

						<div class="body w-lg-100">

							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="cardview" name="cardview"{% if v.cardview %} checked{% endif %} onchange="post_toast('/settings/profile?cardview='+document.getElementById('cardview').checked);">
								<label class="custom-control-label" for="cardview"></label>
							</div>

							<span class="text-small-extra text-muted">Enable if you would like to display images and videos in full size on the frontpage.</span>

						</div>

					</div>


					<div class="d-lg-flex border-bottom">

						<div class="title w-lg-25">
							<label for="highlightcomments">Highlight New Comments</label>
						</div>

						<div class="body w-lg-100">

							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="highlightcomments" name="highlightcomments"{% if v.highlightcomments %} checked{% endif %} onchange="post_toast('/settings/profile?highlightcomments='+document.getElementById('highlightcomments').checked);">
								<label class="custom-control-label" for="highlightcomments"></label>
							</div>

							<span class="text-small-extra text-muted">Enable if you would like to have a red dot on comments made after the last time you visited a thread.</span>

						</div>

					</div>


					<div class="d-lg-flex border-bottom">
						<div class="title w-lg-25">
							<label for="theme">Website Theme</label>
						</div>

						<div class="body w-lg-100">
							<p>Change the theme for the website.</p>
							<div class="input-group mb2">
								<select id='theme' class="form-control" form="profile-settings" name="theme" onchange="post_toast('/settings/profile?theme='+document.getElementById('theme').value, '1')">
								{% if v.background %}
									{% set entries = ["transparent", "win98", "dark", "light", "coffee", "tron", "4chan", "midnight"] %}
								{% else %}
									{% set entries = ["dark", "light", "win98", "coffee", "tron", "4chan", "midnight"] %}
								{% endif %}
								{% for entry in entries %}
									<option value="{{entry}}" {% if v.theme==entry %} selected {% endif %}>
										{{entry}}
									</option>
								{% endfor %}
							</select>
							</div>

						</div>

				</div>
				<div class="body d-lg-flex border-bottom">

				<label class="text-black w-lg-25">Theme Color</label>

				<div class="d-flex">

					<form action="/settings/themecolor" id="themecolor-form" method="post" class="color-picker" style="line-height: 0">
							<input type="hidden" name="formkey" value="{{v.formkey}}">

							{% for themecolor in ['ff66ac','805ad5','62ca56','38a169','80ffff','2a96f3','eb4963','ff0000','f39731','30409f','3e98a7','e4432d','7b9ae4','ec72de','7f8fa6', 'f8db58'] %}
							<input type="radio" name="themecolor" id="themecolor-{{themecolor}}" value="{{themecolor}}" {% if v.themecolor == themecolor %}checked{% endif %} onclick="document.getElementById('themecolor-form').submit()">
							<label class="color-radio" for="themecolor-{{themecolor}}">
								<span style="background-color: #{{themecolor}}">
								{% if v.themecolor.lower() == themecolor %}
									<i class="fas fa-check text-white"></i>
								{% else %}
									&nbsp;
								{% endif %}
								</span>
							</label>
							{% endfor %}

					</form>

				</div>

				<!-- <p class="text-small mb-2">Or type a color code:</p>
				<div class="d-flex">
				<form action="/settings/themecolor" id="color-code-form" method="post">
					<input type="hidden" name="formkey" value="{{v.formkey}}">
  
					<input class="form-control" type="text" name="themecolor" id="color-code" maxlength="6" value="{% if v.themecolor %}{{v.themecolor}}{% endif %}">
					<label class="btn btn-secondary text-capitalize mr-2 mt-2 mb-0">Update<input type="text" for="color-code" onclick="form.submit()" hidden=""></label>
				</form>
				</div> -->

			</div>
			<div class="d-lg-flex border-bottom">
			<div class="title w-lg-25">
				<label for="theme">Website Backgrounds</label>
			</div>
				<div class="body w-lg-100">
					<p>Change the background for the website.</p>
					<div class="input-group mb2">
							<select id='backgroundSelector' class="form-control" form="profile-settings" name="background" onchange="updatebgselection();">
							{% for entry in ["fantasy", "solarpunk", "pixelart"] %}
								<option value="{{entry}}">
									{{entry}}
								</option>
							{% endfor %}
						</select>
					</div>
					{% if v.background %}
						<div class="d-flex mt-2">
							<a class="btn btn-primary ml-auto" href="javascript:void(0)" onclick="post_toast('/settings/removebackground','1')">Remove Background</a>
							<pre></pre>
						</div>
					{% endif %}
					<div id="bgcontainer"></div>
				</div>
				</div>
			</div>

<div class="row">

	<div class="col col-md-8">

	<div class="settings">

		<div id="description">

		<p class="text-small text-muted">Edit your custom CSS for the site.</p>

		<div class="settings-section rounded mb-0">

			<div class="body d-lg-flex border-bottom">
				<div class="w-lg-100">
					<form id="profile-settings" action="/settings/css" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<textarea class="form-control rounded" id="bio-text" aria-label="With textarea" placeholder="Custom CSS" rows="50" name="css" form="profile-settings" maxlength="4000">{% if v.css %}{{v.csslazy}}{% endif %}</textarea>
						<small>Limit of 4000 characters</small>
						<div class="d-flex mt-2">
							<input id="submit-btn" class="btn btn-primary ml-auto" type="submit" value="Save">
						</div>
					</form>
				</div>

			</div>

	</div>

	</div>

</div>
</div>
{% if v.agendaposter %}
<script>
	const flip = (e) => {
		e.preventDefault();
		document.getElementsByTagName("body")[0].setAttribute("style", "-moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1);transform: scale(-1, -1);");
	};

	document.getElementById("submit-btn").onclick = flip;
</script>
{% endif %}
</div>

{% endblock %}