<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div class="mb-4">
		<div class="flex flex-col rounded-md border border-gray-900 divide-y divide-gray-900 overflow-hidden">
			<button class="text-left block w-full px-4 py-3 bg-gray-700 hover:bg-gray-800 text-shadow-t shadow-inset-t-white-10 text-base font-medium text-gray-300 active:text-gray-500 active:shadow-inner active:outline-none">
				<i class="fas fa-user fa-fw mr-1"></i>
				Profile
			</button>
			<button class="text-left block w-full px-4 py-3 bg-gray-700 hover:bg-gray-800 text-shadow-t shadow-inset-t-white-10 text-base font-medium text-gray-300 active:text-gray-500 active:shadow-inner active:outline-none">
				<i class="fas fa-lock-alt fa-fw mr-1"></i>
				Security
			</button>
			<button class="text-left block w-full px-4 py-3 bg-gray-700 hover:bg-gray-800 text-shadow-t shadow-inset-t-white-10 text-base font-medium text-gray-300 active:text-gray-500 active:shadow-inner active:outline-none">
				<i class="fas fa-glasses fa-fw mr-1"></i>
				Content
			</button>
		</div>
	</div>
</div>