<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div class="flex flex-col space-y-4">
		<div class="flex flex-col rounded-md border border-gray-900 divide-y divide-gray-900 overflow-hidden">
			<button class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-300 active:text-gray-500 active:outline-none {{ 'bg-gray-900 bg-opacity-40 shadow-inner' if request.path == '/settings/profile' else 'bg-gray-700 hover:bg-gray-800 shadow-inset-t-white-10' }}">
				<i class="fas fa-user fa-fw mr-1"></i>
				Profile
			</button>
			<button class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-300 active:text-gray-500 active:outline-none {{ 'bg-gray-900 bg-opacity-40 shadow-inner' if request.path == '/settings/security' else 'bg-gray-700 hover:bg-gray-800 shadow-inset-t-white-10' }}">
				<i class="fas fa-lock-alt fa-fw mr-1"></i>
				Security
			</button>
			<button class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-300 active:text-gray-500 active:outline-none {{ 'bg-gray-900 bg-opacity-40 shadow-inner' if request.path == '/settings/content' else 'bg-gray-700 hover:bg-gray-800 shadow-inset-t-white-10' }}">
				<i class="fas fa-glasses fa-fw mr-1"></i>
				Content
			</button>
		</div>
		<div class="flex flex-col rounded-md border border-gray-900 divide-y divide-gray-900 overflow-hidden">
			<button class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-300 active:text-gray-500 active:outline-none {{ 'bg-gray-900 bg-opacity-40 shadow-inner' if request.path == '/settings/profile' else 'bg-gray-700 hover:bg-gray-800 shadow-inset-t-white-10' }}">
				<i class="fas fa-pain-brush fa-fw mr-1"></i>
				Theming
			</button>
		</div>
		<div class="flex flex-col rounded-md border border-gray-900 divide-y divide-gray-900 overflow-hidden">
			<button class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-300 active:text-gray-500 active:outline-none {{ 'bg-gray-900 bg-opacity-40 shadow-inner' if request.path == '/settings/profile' else 'bg-gray-700 hover:bg-gray-800 shadow-inset-t-white-10' }}">
				<i class="fas fa-user-slash fa-fw mr-1"></i>
				Blocked
			</button>
			<button class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-300 active:text-gray-500 active:outline-none {{ 'bg-gray-900 bg-opacity-40 shadow-inner' if request.path == '/settings/security' else 'bg-gray-700 hover:bg-gray-800 shadow-inset-t-white-10' }}">
				<i class="fas fa-cogs fa-fw mr-1"></i>
				Apps
			</button>
		</div>
	</div>
</div>