<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div>
		<h2 class="ml-2 font-bold text-xl font-heading leading-normal pb-2 mb-2 border-b-2 border-gray-800">
			DramaMeter™
		</h2>
		<div class="flex flex-col">
			<button id="post-{{p.id}}-up" class="flex justify-between w-full px-4 py-3 bg-gradient-to-t from-pink-700 to-pink-600 hover:from-pink-600 hover:to-pink-700 border border-gray-900 border-b-0 rounded-t-md text-shadow-t shadow-inset-t-white-10 text-base font-medium text-gray-300 active:text-pink-500 active:shadow-inner active:outline-none post-{{p.id}}-up" onclick="vote('post', '{{p.id}}', '1')">
				<span>
					🕋 Halal
				</span>
				<span id="post-score-{{p.id}}" class="leading-none ml-3 px-2 py-1 border border-pink-700 rounded text-sm font-bold bg-pink-700 post-score-{{p.id}}" style="border-top-color: rgba(0, 0, 0, 0.07);">
					{{up}}
				</span>
			</button>
			<button id="post-{{p.id}}-down" class="flex justify-between w-full px-4 py-3 bg-gradient-to-t from-gray-800 to-gray-700 hover:from-gray-700 hover:to-gray-800 border border-gray-900 rounded-b-md text-shadow-t shadow-inset-t-white-10 text-base font-medium text-gray-300 active:text-gray-500 active:shadow-inner active:outline-none" onclick="vote('post', '{{p.id}}', '-1')">
				<span>
					🐷 Haram
				</span>
				<span id="post-score-{{p.id}}" class="leading-none ml-3 px-2 py-1 border border-gray-800 rounded text-sm font-bold bg-gray-800 post-score-{{p.id}}" style="border-top-color: rgba(0, 0, 0, 0.07);">
					{{downs}}
				</span>
			</button>
		</div>
		<!-- Icons -->
		<ul class="flex space-x-2 items-center mb-3">
			<!-- Awards -->
			{% if p.awards %}
			{% for a in p.awards %}
			<li>
				<i class="{{a.class_list}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{a.title}} Award given by @{{a.user.username}}"></i>
			</li>
			{% endfor %}
			{% endif %}
			<!-- Banned -->
			{% if p.bannedfor and p.author.banned_by %}
			<li>
				<i class="fad fa-gavel text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="User was banned for this post by @{{p.author.banned_by.username}}"></i>
			</li>
			{% endif %}	
			<!-- Stickied -->
			{% if p.stickied %}
			<li>
				<i id="pinned-{{p.id}}" class="fas fa-thumbtack fa-rotate--45 fa-fw text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Pinned {% if p.stickied.startswith('t:') %}until {{p.stickied[2:]}}{% else %}by @{{p.stickied}}{%endif%}"></i>
			</li>
			{% endif %}
			<!-- Pinned -->
			{% if p.is_pinned %}
			<li>
				<i class="fas fa-thumbtack fa-rotate--45 fa-fw text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom"data-bs-original-title="Pinned to profile"></i>
			</li>
			{% endif %}
			<!-- NSFW -->
			{% if p.over_18 %}
			<li>
				<span class="px-2 py-1 rounded-sm bg-gradient-to-t from-red-700 to-red-500 shadow-inner text-xs text-white">+18</span>
			</li>
			{% endif %}
			<!-- Private -->
			{% if p.private %}
			<li>
				<span class="badge border-warning border-1 text-small-extra">Draft</span>
			</li>
			{% endif %}
		</ul>
	</div>
	<div>
		<h2 class="ml-2 font-bold text-xl font-heading leading-normal pb-2 mb-2 border-b-2 border-gray-800">
			Link
		</h2>
		<input type="text" onclick="this.select()" value="https://rdrama.net/post/{{ p.id }}" class="m-0.5 p-0.5 bg-gray-900 border border-gray-900 text-xs text-gray-400 rounded-sm w-44">
	</div>
</div>